Flask==2.2.2
Flask-SQLAlchemy==3.0.3
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Admin==1.5.8
Flask-WTF==1.0.1
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Werkzeug==2.2.3
Jinja2==3.1.5
itsdangerous==2.2.0
MarkupSafe==2.1.5
SQLAlchemy==2.0.3
alembic==1.14.1
greenlet==3.1.1
psycopg2-binary==2.9.3
wtforms==3.1.2
pytz==2025.1
six==1.17.0
typing-extensions==4.12.2
